<nb-card>
  <nb-card-header>
    <div class="w-100 d-flex flex-row justify-content-between">
      Profile
      <div *ngIf="false">
        <nb-icon
          *ngIf="!isEditable; else editMode"
          role="button"
          icon="edit-outline"
          (click)="setEditMode()"
          nbTooltip="Edit Profile"
          nbTooltipStatus="default"
        ></nb-icon>
        <ng-template #editMode>
          <nb-icon
            role="button"
            icon="close-circle-outline"
            (click)="setEditMode()"
          ></nb-icon>
        </ng-template>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="w-100 d-flex flex-row align-items-center">
      <nb-user
        size="large"
        [onlyPicture]="true"
        [name]="fullName"
        title="Guidance Councilor"
        color="#b7090c"
      >
      </nb-user>
    </div>
    <div [formGroup]="form">
      <div class="form-control-group mt-2">
        <label class="label" for="input-firstName">First name:</label>
        <input
          nbInput
          id="input-firstName"
          name="firstName"
          formControlName="firstName"
          placeholder="First name"
          fullWidth
          fieldSize="medium"
          [disabled]="!isEditable"
        />
      </div>
      <div class="form-control-group mt-2">
        <label class="label" for="input-lastName">Last name:</label>
        <input
          nbInput
          id="input-lastName"
          name="lastName"
          formControlName="lastName"
          placeholder="Last name"
          fullWidth
          fieldSize="medium"
          [disabled]="!isEditable"
        />
      </div>
      <div class="form-control-group mt-2">
        <label class="label" for="input-email"
          >Silliman University email:</label
        >
        <input
          nbInput
          id="input-email"
          name="email"
          formControlName="email"
          placeholder="Silliman Email address"
          fullWidth
          fieldSize="medium"
          [disabled]="!isEditable"
        />
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="form-control-group">
            <label class="label" for="input-birthday">Birthday:</label>
            <input
              nbInput
              name="birthday"
              id="input-birthday"
              formControlName="birthday"
              fieldSize="medium"
              fullWidth
              placeholder="Pick Date"
              [nbDatepicker]="picker"
              [disabled]="!isEditable"
            />
            <nb-datepicker #picker></nb-datepicker>
          </div>
        </div>
        <div class="col">
          <div class="form-control-group">
            <label class="label" for="input-gender">Gender:</label>
            <nb-select
              id="input-gender"
              name="gender"
              formControlName="gender"
              placeholder="Select Gender"
              size="medium"
              fullWidth
              [disabled]="!isEditable"
            >
              <nb-option value="Male">Male</nb-option>
              <nb-option value="Female">Female</nb-option>
              <nb-option value="Others">Others</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="false"
      class="mt-3"
      nbButton
      appearance="filled"
      size="medium"
      shape="round"
      [disabled]="!isEditable && form.valid"
    >
      SUBMIT
    </button>
  </nb-card-body>
</nb-card>
